services:
  web:
    build: .
    command: flask run --host=0.0.0.0
    ports:
      - "9081:5000"
    volumes:
      - .:/app
    environment:
      FLASK_ENV: production
      DATABASE_URL: postgres://phuongpd:vdkvn22.05@192.168.17.50:5432/pvpower
    depends_on:
      - db

  db:
    image: postgres:13
    environment:
      POSTGRES_DB: pvpower
      POSTGRES_USER: phuongpd
      POSTGRES_PASSWORD: vdkvn22.05
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  pgdata:
