@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    font-family: Raleway, sans-serif;
}

body {
    background: linear-gradient(90deg, #7885c0, #6b82cc);        
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.screen {        
    background: linear-gradient(90deg, #4b54bb, #767aeb);        
    position: relative;    
    height: 600px;
    width: 360px;    
    box-shadow: 0px 0px 24px #566396;
}

.screen__content {
    z-index: 1;
    position: relative;    
    height: 100%;
}

.screen__background {        
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0); 