<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Embedded Chat with Chatbot</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/chatbot.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <div class="chat-container" id="chatContainer">
    <div class="chat-header">
      <img src="{{ url_for('static', filename='images/Logo_Petrovietnam.svg.png') }}" alt="Logo">
      PVPower Assistant
      <button class="new-tab-button" onclick="openInNewTab()">
        <img src="{{ url_for('static', filename='images/External link.svg') }}" alt="New Tab Icon" />
      </button>
    </div>
    <div class="chat-messages" id="chatMessages"></div>
    <div id="suggestions-container" class="suggestions-container"></div>
    <div class="chat-input">
      <input type="text" id="userInput" placeholder="Xin mời bạn hỏi..." onkeypress="handleKeyPress(event)" />
      <button id="sendButton" onclick="sendMessage()">
        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" fill="none">
            <path d="M4.8048 4.6464C4.96902 4.51222 5.16853 4.42837 5.3793 4.40495C5.59008 4.38153 5.80313 4.41954 5.9928 4.5144L38.9928 21.0144C39.1758 21.1056 39.3298 21.2461 39.4375 21.42C39.5451 21.5939 39.6021 21.7944 39.6021 21.9989C39.6021 22.2034 39.5451 22.4039 39.4375 22.5778C39.3298 22.7517 39.1758 22.8922 38.9928 22.9834L5.9928 39.4834C5.80332 39.5783 5.59046 39.6164 5.37981 39.5933C5.16916 39.5701 4.9697 39.4865 4.80541 39.3527C4.64111 39.2188 4.51898 39.0403 4.45369 38.8387C4.38841 38.6371 4.38275 38.4209 4.4374 38.2162L8.7626 22L4.4374 5.7838C4.38249 5.57897 4.38795 5.36264 4.45313 5.16084C4.51832 4.95905 4.64044 4.7804 4.8048 4.6464ZM10.7448 23.1L7.194 36.4232L36.0404 22L7.1918 7.5768L10.7448 20.9H25.3C25.5917 20.9 25.8715 21.0159 26.0778 21.2222C26.2841 21.4285 26.4 21.7083 26.4 22C26.4 22.2917 26.2841 22.5715 26.0778 22.7778C25.8715 22.9841 25.5917 23.1 25.3 23.1H10.7448Z" fill="#151D39"/>
        </svg>
    </button>
    
    </div>
  </div>

  <div id="feedbackModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <p>Bạn không hài lòng vì vấn đề gì?</p>
      <textarea id="feedbackText" placeholder="Ghi nhận lý do của bạn..."></textarea>
      <button onclick="submitDislikeFeedback()">Gửi</button>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/marked.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/chatbot.js') }}"></script>
  <script>
    document.addEventListener('visibilitychange', function() {
      if (document.visibilityState === 'visible') {
        location.reload(); // Reload lại trang khi tab được quay lại
      }
    });
  </script>
</body>
</html>
