<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Embedded Chat with Chatbot</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/chatbot.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <div class="chat-container" id="chatContainer">
    <div class="chat-header">
      <img src="{{ url_for('static', filename='images/Logo_Petrovietnam.svg.png') }}" alt="Logo">
      PVPower Assistant
    </div>
    <div class="chat-messages" id="chatMessages"></div>
    <div id="suggestions-container" class="suggestions-container"></div>
    <div class="chat-input">
      <input type="text" id="userInput" placeholder="Xin mời bạn hỏi..." onkeypress="handleKeyPress(event)" />
      <button id="sendButton" onclick="sendMessage()">Send</button>
    </div>
  </div>

  <div id="feedbackModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <p>Bạn không hài lòng vì vấn đề gì?</p>
      <textarea id="feedbackText" placeholder="Ghi nhận lý do của bạn..."></textarea>
      <button onclick="submitDislikeFeedback()">Gửi</button>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/chatbot.js') }}"></script>
</body>
</html>
