<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Embedded Chat with Chatbot</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <!-- <script>
    document.addEventListener('contextmenu', event => event.preventDefault());
    document.onkeydown = function(e) {
      if (e.keyCode == 123) { // F12
        return false;
      }
      if (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) { // Ctrl+Shift+I
        return false;
      }
      if (e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) { // Ctrl+Shift+J
        return false;
      }
      if (e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) { // Ctrl+U
        return false;
      }
      if (e.ctrlKey && e.keyCode == 'S'.charCodeAt(0)) { // Ctrl+S
        e.preventDefault();
        return false;
      }
    }
  </script> -->
</head>
<body>
  <div class="chat-container" id="chatContainer">
    <div class="chat-header">
      <img src="{{ url_for('static', filename='images/Logo_Petrovietnam.svg.png') }}" alt="Logo">
      PVPower Assistant
    </div>
    <div class="chat-messages" id="chatMessages"></div>
    <div class="chat-input">
      <input type="text" id="userInput" placeholder="Type a message..." onkeypress="handleKeyPress(event)" />
      <button id="sendButton" onclick="sendMessage()">Send</button>
    </div>
  </div>

  <div id="feedbackModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <p>Bạn không hài lòng vì vấn đề gì?</p>
      <textarea id="feedbackText" placeholder="Ghi nhận lý do của bạn..."></textarea>
      <button onclick="submitDislikeFeedback()">Gửi</button>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/index.min.js') }}"></script>
</body>
</html>
